<template>
	<div>
		<div class="record_date">
			<el-row>
				<el-col :span="6" class="cards">
				  <div class="box">
					 <div class="box_num">
						 <div class="box_color">总用户数</div>
						 <div class="text_color"><span>{{tableData.sum0 ? tableData.sum0 : 0}}</span>人</div>
					 </div>
				  </div>
				</el-col>
				<el-col :span="6" class="cards">
				  <div class="box">
					 <div class="box_num">
						 <div class="box_color">初级会员数</div>
						 <div class="text_color"><span>{{tableData.sum1 ? tableData.sum1 : 0}}</span>人</div>
					 </div>
				  </div>
				</el-col>
				<el-col :span="6" class="cards">
				  <div class="box">
					 <div class="box_num">
						 <div class="box_color">中级会员数</div>
						 <div class="text_color"><span>{{tableData.sum2 ? tableData.sum2 : 0}}</span>人</div>
					 </div>
				  </div>
				</el-col>
				<el-col :span="6" class="cards">
				  <div class="box">
					 <div class="box_num">
						 <div class="box_color">高级会员数</div>
						 <div class="text_color"><span>{{tableData.sum3 ? tableData.sum3 : 0}}</span>人</div>
					 </div>
				  </div>
				</el-col>
				<el-col :span="6" class="cards">
				  <div class="box">
					 <div class="box_num">
						 <div class="box_color">今日收入</div>
						 <div class="text_color"><span>{{incomeData.day ? incomeData.day : 0 }}</span>元</div>
					 </div>
				  </div>
				</el-col>
				<el-col :span="6" class="cards">
				  <div class="box">
					 <div class="box_num">
						 <div class="box_color">本月收入 </div>
						 <div class="text_color"><span>{{incomeData.month ? incomeData.month : 0}}</span>元</div>
					 </div>
				  </div>
				</el-col>
				<el-col :span="6" class="cards">
				  <div class="box">
					 <div class="box_num">
						 <div class="box_color">今日发单数量</div>
						 <div class="text_color"><span>{{receivData ? receivData : 0}}</span>笔</div>
					 </div>
				  </div>
				</el-col>
				<el-col :span="6" class="cards">
				  <div class="box">
					 <div class="box_num">
						 <div class="box_color">今日接单数量 </div>
						 <div class="text_color"><span>{{billData ? billData : 0}}</span>笔</div>
					 </div>
				  </div>
				</el-col>
			</el-row>
			<div>
				<el-select v-model="flag" style="width:150px;margin-left: 10px;" @change="orderfenxi">
				  <el-option v-for="item in flags" :key="item.value" :label="item.label" :value="item.value">
				  </el-option>
				</el-select>&nbsp;&nbsp;&nbsp;
				<el-date-picker
				style="width: 200px;margin-left: 10px;"
				   v-model="info.stockDate"
				   align="right"
				   type="datetime"
				   format="yyyy-MM-dd hh:mm:ss"
				   value-format="yyyy-MM-dd hh:mm:ss"
				   placeholder="选择开始时间"
				    @change="animeOrder"
				   >
				 </el-date-picker>
			</div>
			<el-tabs v-model="activeName" @tab-click="handleClick" style="margin-left: 10px;">
				<el-tab-pane label="用户分析" name="first">
					<el-row>
						<el-col :span="6" class="cards">
						  <div class="box">
							 <div class="box_num">
								 <div class="box_color">会员数</div>
								 <div class="text_color"><span>{{usersumData.sum0 ? usersumData.sum0 : 0}}</span>人</div>
							 </div>
						  </div>
						</el-col>
						<el-col :span="6" class="cards">
						  <div class="box">
							 <div class="box_num">
								 <div class="box_color">非会员数</div>
								 <div class="text_color"> <span>{{usersumData.sum1 ? usersumData.sum1 : 0}}</span>人</div>
							 </div>
						  </div>
						</el-col>
						<el-col :span="6" class="cards">
						  <div class="box">
							 <div class="box_num">
								 <div class="box_color">手机号用户</div>
								 <div class="text_color"><span>{{usersumData.sum2 ? usersumData.sum2 : 0}}</span>人</div>
							 </div>
						  </div>
						</el-col>
						<el-col :span="6" class="cards">
						  <div class="box">
							 <div class="box_num">
								 <div class="box_color">未绑定手机号用户</div>
								 <div class="text_color"><span>{{usersumData.sum3 ? usersumData.sum3 : 0}}</span>人</div>
							 </div>
						  </div>
						</el-col>
					</el-row>
				</el-tab-pane>
				<el-tab-pane label="任务分析" name="third">
					<el-row>
						<el-col :span="6" class="cards">
						  <div class="box">
							 <div class="box_num">
								 <div class="box_color">发单总金额</div>
								 <div class="text_color"><span>{{taskStat.takeOrderSum ? taskStat.takeOrderSum : 0}}</span>元</div>
							 </div>
						  </div>
						</el-col>
						<el-col :span="6" class="cards">
						  <div class="box">
							 <div class="box_num">
								 <div class="box_color">接单总金额</div>
								 <div class="text_color"> <span>{{taskStat.sendOrderSum ? taskStat.sendOrderSum : 0}}</span>元</div>
							 </div>
						  </div>
						</el-col>
						<el-col :span="6" class="cards">
						  <div class="box">
							 <div class="box_num">
								 <div class="box_color">发单数量</div>
								 <div class="text_color"><span>{{taskStat.takeOrderCount ? taskStat.takeOrderCount : 0}}</span>笔</div>
							 </div>
						  </div>
						</el-col>
						<el-col :span="6" class="cards">
						  <div class="box">
							 <div class="box_num">
								 <div class="box_color">接单数量</div>
								 <div class="text_color"><span>{{taskStat.sendOrderCount ? taskStat.sendOrderCount : 0}}</span>笔</div>
							 </div>
						  </div>
						</el-col>
					</el-row>
			 	</el-tab-pane>
				<el-tab-pane label="任务收入分析" name="fourth">
					<el-table
					v-loading="tableDataLoading"
					  :data="tableData2.list">
					  <el-table-column
					    prop="title"
					    label="任务标题">
					  </el-table-column>
					  <el-table-column
					    prop="nickName1"
					    label="派单人姓名">
						<template slot-scope="scope">
						  <span style="color: #4f9dec;cursor: pointer;"  @click="updates1(scope.row)">{{scope.row.nickName1 ? scope.row.nickName1 : 'null'}}</span>
						</template>
					  </el-table-column>
					  <el-table-column
					    prop="nickName2"
					    label="接单人姓名">
						<template slot-scope="scope">
						  <span style="color: #4f9dec;cursor: pointer;"  @click="updates2(scope.row)">{{scope.row.nickName2 ? scope.row.nickName2 : 'null'}}</span>
						</template>
					  </el-table-column>
					  <el-table-column
					    prop="profit"
					    label="平台收入">
					  </el-table-column>
					  <el-table-column
					    prop="createTime"
					    label="创建时间">
					  </el-table-column>
					</el-table>
					<div style="text-align: center;margin-top: 10px;float:right">
					  <el-pagination
					    @size-change="handleSizeChange"
					    @current-change="handleCurrentChange"
					    :page-sizes="[5, 10, 15, 20]"
					    :page-size="limit"
					    :current-page="page"
					    layout="total,sizes, prev, pager, next"
					    :total="tableData2.totalCount">
					  </el-pagination>
					</div>
				</el-tab-pane>
				<el-tab-pane label="邀请人分析" name="fifth">
					<el-table
					v-loading="tableDataLoading"
					  :data="colonelData.list">
					  <el-table-column
					    prop="userId"
					    label="用户编号">
					  </el-table-column>
					  <el-table-column
					    prop="nickName"
					    label="用户名">
						<template slot-scope="scope">
						  <span style="color: #4f9dec;cursor: pointer;"  @click="updates(scope.row)">{{scope.row.nickName ? scope.row.nickName : 'null'}}</span>
						</template>
					  </el-table-column>
					  <el-table-column
					    prop="money"
					    label="累计获得赏金(元)">
					  </el-table-column>
					  <el-table-column
					    prop="count"
					    label="邀请好友数量"
						width="150">
					  </el-table-column>
					</el-table>
					<div style="text-align: center;margin-top: 10px;float:right">
					  <el-pagination
					    @size-change="handleSizeChange2"
					    @current-change="handleCurrentChange2"
					    :page-sizes="[5, 10, ,15, 20]"
					    :page-size="limit"
					    :current-page="page"
					    layout="total,sizes, prev, pager, next"
					    :total="colonelData.totalCount">
					  </el-pagination>
					</div>
				</el-tab-pane>
				<el-tab-pane label="付费会员分析" name="sixth">
					<el-table
					v-loading="tableDataLoading"
					  :data="commodityData.list">
					  <el-table-column
					    prop="userId"
					    label="用户编号">
					  </el-table-column>
					  <el-table-column
					    prop="userName"
					    label="用户名称">
						<template slot-scope="scope">
						  <span style="color: #4f9dec;cursor: pointer;"  @click="updates(scope.row)">{{scope.row.nickName ? scope.row.nickName : 'null'}}</span>
						</template>
					  </el-table-column>
					  <el-table-column
					    prop="money"
					    label="支付金额">
						<template slot-scope="scope">
						  <span style="color: #f56c6c;cursor: pointer;">{{scope.row.money}}</span>
						</template>
					  </el-table-column>
					  <el-table-column
					    prop="classify"
					    label="支付方式">
						<template slot-scope="scope">
						  <span v-if="scope.row.classify == 1">微信</span>
						  <span v-if="scope.row.classify == 2">支付宝</span>
						</template>
					  </el-table-column>
					  <el-table-column
					    prop="remark"
					    label="会员等级">
							<template slot-scope="scope">
							  <span v-if="scope.row.remark == 1">初级会员</span>
							  <span v-if="scope.row.remark == 2">中级会员</span>
							  <span v-if="scope.row.remark == 2">高级会员</span>
							</template>
					  </el-table-column>
					  <el-table-column
					    prop="payTime"
					    label="支付时间">
					  </el-table-column>
					</el-table>
					<div style="text-align: center;margin-top: 10px;float:right">
					  <el-pagination
					    @size-change="handleSizeChange3"
					    @current-change="handleCurrentChange3"
					    :page-sizes="[5, 10, 15, 20]"
					    :page-size="limit"
					    :current-page="page"
					    layout="total,sizes, prev, pager, next"
					    :total="commodityData.totalCount">
					  </el-pagination>
					</div>
				</el-tab-pane>
			</el-tabs>
		</div>
	</div>
</template>

<script>
	export default {
	    data() {
	        return {
				limit:5,
				page:1,
				tableData:[],
				tableData2:[],
				colonelData:[],
				commodityData:[],
				userjfData:[],
				receivData:'',
				billData:'',
				incomeData:[],
				activeName: 'first',
				tableDataLoading:true,
				flag:1,
				usersumData:{},
				taskStat:{},
				data:'',
				time:'',
				platform:'',
				type:'',
				balance:-1,
				info: {
					stockDate:this.getNowTime(),  //日期
				},
				flags: [
				{
				    value: 1,
				    label: '按天查询'
				},{
				    value: 2,
				    label: '按月查询'
				}, {
				    value: 3,
				    label: '按年查询'
				}],
	        }
	    },
		mounted() {
		   this.colonel()
		   this.taskData()
		   this.colonelOrder()
		   this.shoppData()
		   this._getData()//用户统计
		   this.receivOrder(),//接单
		   this.billOrder(),//发单
		   this.incomeSelect(),//收入
		   this.userData()

		},
	    methods: {
			// 详情跳转
			updates(row) {
			  this.$router.push({path: '/userDetail', query: {userId: row.userId}})
			},
			updates1(row) {
			  this.$router.push({path: '/userDetail', query: {userId: row.userId1}})
			},
			updates2(row) {
			  this.$router.push({path: '/userDetail', query: {userId: row.userId2}})
			},
			handleSizeChange(val) {
			    this.limit = val;
			    this.colonel();
			},
			handleCurrentChange(val) {
			    this.page = val;
			    this.colonel();
			},
			handleSizeChange2(val) {
			    this.limit = val;
			    this.colonelOrder();
			},
			handleCurrentChange2(val) {
			    this.page = val;
			    this.colonelOrder();
			},
			handleSizeChange3(val) {
			    this.limit = val;
			    this.shoppData();
			},
			handleCurrentChange3(val) {
			    this.page = val;
			    this.shoppData();
			},
			// 用户分析选择日期
			animeDat(){
				this._getData()
			},
			// 订单分析选择日期
			animeOrder(){
				this.userData()
				this.taskData()
				this.colonel()
				this.colonelOrder()
				this.shoppData()
			},
			// 订单分析年月日
			orderfenxi(value){
				let vanumber = value
				if(vanumber === 1){
					this.flag = 1
					this.userData()
					this.taskData()
					this.colonel()
					this.colonelOrder()
					this.shoppData()
				}
				if(vanumber === 2 ){
					this.flag = 2
					this.userData()
					this.taskData()
				    this.colonel()
					this.colonelOrder()
					this.shoppData()
				}
				if(vanumber === 3 ){
					this.flag = 3
					this.userData()
					this.taskData()
					this.colonel()
					this.colonelOrder()
					this.shoppData()
				}
			},
			// Tabs点击事件
			handleClick(tab, event) {
			    if(tab._props.label=='用户分析'){
					this.userData()
				}
				if(tab._props.label=='任务分析'){
					this.taskData()
				}
				if(tab._props.label=='任务收入分析'){
					this.colonel()
				}
				if(tab._props.label=='邀请人分析'){
					this.colonelOrder()
				}
				if(tab._props.label=='付费会员分析'){
					this.shoppData()
				}
			},
			//处理默认选中当前日期
			getNowTime() {
				 var now = new Date();
				 var year = now.getFullYear(); //得到年份
				 var month = now.getMonth(); //得到月份
				 var date = now.getDate(); //得到日期
				 var hh = now.getHours() < 10? "0" + now.getHours(): now.getHours();
			     var mm = now.getMinutes() < 10? "0" + now.getMinutes(): now.getMinutes();
			     var ss = now.getSeconds() < 10? "0" + now.getSeconds(): now.getSeconds();
				 month = month + 1;
				 month = month.toString().padStart(2, "0");
				 date = date.toString().padStart(2, "0");
				 var defaultDate = `${year}-${month}-${date} ${hh}:${mm}:${ss}`;
				 return defaultDate;
				 this.$set(this.info, "stockDate", defaultDate);
			},
		   // 用户统计
		   _getData(){
			  this.$http({
			    url: this.$http.adornUrl('statistical/user'),
			    method: 'get',
			    params: this.$http.adornParams({
			    })
			  }).then(({data}) => {
				  if(data.code == 0){
					  let returnData = data;
					  this.tableData = returnData
				  }

			  })
		   },
		   // 今日接单数
		   receivOrder(){
			  this.$http({
				url: this.$http.adornUrl('statistical/sendOrder'),
				method: 'get',
				params: this.$http.adornParams({
				})
			  }).then(({data}) => {
				  if(data.code == 0){
					  let returnData = data.data;
					  this.receivData = returnData
				  }

			  })
		   },
		   // 今日发单数
		   billOrder(){
			  this.$http({
				url: this.$http.adornUrl('statistical/takeOrder'),
				method: 'get',
				params: this.$http.adornParams({
				})
			  }).then(({data}) => {
				  if(data.code == 0){
					  let returnData = data.data;
					  this.billData = returnData
				  }

			  })
		   },
		   // 收入统计
		   incomeSelect(){
			  this.$http({
				url: this.$http.adornUrl('statistical/income'),
				method: 'get',
				params: this.$http.adornParams({
				})
			  }).then(({data}) => {
				  if(data.code == 0){
					  let returnData = data.data;
					  this.incomeData = returnData
				  }
			  })
		   },
		   // 用户分析
		   userData(){
			   this.$http({
					url: this.$http.adornUrl('statistical/userAnalysis'),
					method: 'get',
					params: this.$http.adornParams({
						'time':this.info.stockDate,
						'flag':this.flag,
					})
			   }).then(({data}) => {
					if(data.code == 0){
						let returnData = data.data;
						this.usersumData = returnData
					}
			   })
		   },
		   //任务分析
		   taskData(){
			   this.$http({
					url: this.$http.adornUrl('statistical/taskAnalysis'),
					method: 'get',
					params: this.$http.adornParams({
						'time':this.info.stockDate,
						'flag':this.flag,
					})
			   }).then(({data}) => {
					let returnData = data.data;
					this.taskStat = returnData
			   })
		   },
		   // 任务收入分析
		   colonel(){
			    this.tableDataLoading = true
			   this.$http({
					url: this.$http.adornUrl('statistical/incomeAnalysis'),
					method: 'get',
					params: this.$http.adornParams({
						'page':this.page,
						'limit':this.limit,
						'time':this.info.stockDate,
						'flag':this.flag,
					})
			   }).then(({data}) => {
				   if(data.code == 0){
					   this.tableDataLoading = false
					   let returnData = data.data
					   this.tableData2 = returnData
				   }
			   })
			},
			// 邀请人分析
			colonelOrder(){
			   this.tableDataLoading = true
			   this.$http({
					url: this.$http.adornUrl('statistical/inviteAnalysis'),
					method: 'get',
					params: this.$http.adornParams({
						'page':this.page,
						'limit':this.limit,
						'time':this.info.stockDate,
						'flag':this.flag,
					})
			   }).then(({data}) => {
					this.tableDataLoading = false
					let returnData = data.data
					this.colonelData = returnData
			   })
			},
			// 付费会员分析
			shoppData(){
			   this.tableDataLoading = true
			   this.$http({
					url: this.$http.adornUrl('statistical/payMemberAnalysis'),
					method: 'get',
					params: this.$http.adornParams({
						'page':this.page,
						'limit':this.limit,
						'time':this.info.stockDate,
						'flag':this.flag,
					})
			   }).then(({data}) => {
					this.tableDataLoading = false
					let returnData = data.data
					this.commodityData = returnData
			   })
			}
		}
	}
</script>

<style scoped>
	.box{
		padding: 44px;
		border: 1px solid #eee;
		margin: 15px 10px;
	}
	.box_num{
		font-size: 14px;
		color: #66b1ff;
	}
	.box_num .box_color{
		color: #333;
		font-size: 14px;
		margin-bottom: 15px;
	}
	.box_num div span{
		font-size: 20px;
		margin-left: 5px;
	}
	.text_color{
		color: #4f9dec;
	}
	.text_color span{
		margin-right: 5px;
	}
</style>
