<template>
  <el-tabs v-model="activeName" @tab-click="handleClick">
    <el-tab-pane label="全部用户" name="first">
      <div style="margin:2% 0;display: inline-block;">
        <el-input style="width: 150px;" @keydown.enter.native="select" clearable placeholder="请输入手机号" v-model="phone">
        </el-input>
      </div>
      <div style="display: inline-block;">
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="select">查询</el-button>
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="cleans">重置</el-button>
      </div>
      <el-table v-loading="tableDataLoading" :data="tableData.list">
        <el-table-column fixed prop="nickName" label="昵称" width="150">
          <template slot-scope="scope">
            <span style="color: #f56c6c;">{{scope.row.nickName ? scope.row.nickName : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="图像">
          <template slot-scope="scope">
            <img v-if="scope.row.imageUrl==null" src="~@/assets/img/avatar.png" alt="" width="40" height="40">
            <img v-else :src="scope.row.imageUrl" alt="" width="40" height="40">
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="手机号" width="150">
          <template slot-scope="scope">
            <span style="color: #4f9dec;cursor: pointer;"
              @click="updates(scope.row)">{{scope.row.phone ? scope.row.phone : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="等级">
          <template slot-scope="scope">
            <span v-if="scope.row.member == 1">非会员</span>
            <span v-if="scope.row.member == 2">初级会员</span>
            <span v-if="scope.row.member == 3">中级会员</span>
            <span v-if="scope.row.member == 4">高级会员</span>
          </template>
        </el-table-column>
        <el-table-column prop="invitationCode" label="邀请码">
        </el-table-column>
        <el-table-column label="邀请人邀请码" width="120">
          <template slot-scope="scope">
            <span style="color: #4f9dec;cursor: pointer;"
              @click="updates2(scope.row)">{{scope.row.inviterCode ? scope.row.inviterCode : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="zhifubaoName" label="支付宝名称" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.zhifubaoName ? scope.row.zhifubaoName : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="zhifubao" label="支付宝账号" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.zhifubao ? scope.row.zhifubao : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="160">
        </el-table-column>
        <el-table-column prop="state " label="状态">
          <template slot-scope="scope">
            <el-switch v-model="scope.row.state" @change="change(scope.row.state,scope.row.userId)"
              :active-value="openValue" :inactive-value="closeValue" active-color="#13ce66" inactive-color="#ff4949">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="120">
          <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="updates(scope.row)">用户详情
            </el-button>
            <el-button size="mini" type="danger" :disabled="!isAuth('userList:delete')" @click="deleteuser(scope.row)">
              删除用户
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="text-align: center;margin-top: 10px;">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
          :page-sizes="[5, 10, 15, 20]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
          :total="tableData.totalCount">
        </el-pagination>
      </div>
    </el-tab-pane>
    <el-tab-pane label="非会员" name="second">
      <div style="margin:2% 0;display: inline-block;">
        <el-input style="width: 150px;" @keydown.enter.native="select" clearable placeholder="请输入手机号" v-model="phone">
        </el-input>
      </div>
      <div style="display: inline-block;">
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="select">查询</el-button>
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="cleans">重置</el-button>
      </div>
      <el-table v-loading="tableDataLoading" :data="tableData.list">
        <el-table-column fixed prop="nickName" label="昵称" width="150">
          <template slot-scope="scope">
            <span style="color: #f56c6c;">{{scope.row.nickName ? scope.row.nickName : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="图像">
          <template slot-scope="scope">
            <img v-if="scope.row.imageUrl==null" src="~@/assets/img/avatar.png" alt="" width="40" height="40">
            <img v-else :src="scope.row.imageUrl" alt="" width="40" height="40">
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="手机号" width="150">
          <template slot-scope="scope">
            <span style="color: #4f9dec;cursor: pointer;"
              @click="updates(scope.row)">{{scope.row.phone ? scope.row.phone : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="等级">
          <template slot-scope="scope">
            <span v-if="scope.row.member == 1">非会员</span>
            <span v-if="scope.row.member == 2">初级会员</span>
            <span v-if="scope.row.member == 3">中级会员</span>
            <span v-if="scope.row.member == 4">高级会员</span>
          </template>
        </el-table-column>
        <el-table-column prop="invitationCode" label="邀请码">
        </el-table-column>
        <el-table-column label="邀请人邀请码" width="120">
          <template slot-scope="scope">
            <span style="color: #4f9dec;cursor: pointer;"
              @click="updates2(scope.row)">{{scope.row.inviterCode ? scope.row.inviterCode : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="zhifubaoName" label="支付宝名称" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.zhifubaoName ? scope.row.zhifubaoName : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="zhifubao" label="支付宝账号" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.zhifubao ? scope.row.zhifubao : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="160">
        </el-table-column>
        <el-table-column fixed="right" prop="state " label="状态">
          <template slot-scope="scope">
            <el-switch v-model="scope.row.state" @change="change(scope.row.state,scope.row.userId)"
              :active-value="openValue" :inactive-value="closeValue" active-color="#13ce66" inactive-color="#ff4949">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" fixed='right' width="120">
          <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="updates(scope.row)">用户详情
            </el-button>
            <el-button size="mini" type="danger" :disabled="!isAuth('userList:delete')" @click="deleteuser(scope.row)">
              删除用户
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="text-align: center;margin-top: 10px;">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
          :page-sizes="[5, 10, 15, 20]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
          :total="tableData.totalCount">
        </el-pagination>
      </div>
    </el-tab-pane>
    <el-tab-pane label="初级会员" name="third">
      <div style="margin:2% 0;display: inline-block;">
        <el-input style="width: 150px;" @keydown.enter.native="select" clearable placeholder="请输入手机号" v-model="phone">
        </el-input>
      </div>
      <div style="display: inline-block;">
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="select">查询</el-button>
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="cleans">重置</el-button>
      </div>
      <el-table v-loading="tableDataLoading" :data="tableData.list">
        <el-table-column fixed prop="nickName" label="昵称" width="150">
          <template slot-scope="scope">
            <span style="color: #f56c6c;">{{scope.row.nickName ? scope.row.nickName : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="图像">
          <template slot-scope="scope">
            <img v-if="scope.row.imageUrl==null" src="~@/assets/img/avatar.png" alt="" width="40" height="40">
            <img v-else :src="scope.row.imageUrl" alt="" width="40" height="40">
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="手机号" width="150">
          <template slot-scope="scope">
            <span style="color: #4f9dec;cursor: pointer;"
              @click="updates(scope.row)">{{scope.row.phone ? scope.row.phone : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="等级">
          <template slot-scope="scope">
            <span v-if="scope.row.member == 1">非会员</span>
            <span v-if="scope.row.member == 2">初级会员</span>
            <span v-if="scope.row.member == 3">中级会员</span>
            <span v-if="scope.row.member == 4">高级会员</span>
          </template>
        </el-table-column>
        <el-table-column prop="invitationCode" label="邀请码">
        </el-table-column>
        <el-table-column label="邀请人邀请码" width="120">
          <template slot-scope="scope">
            <span style="color: #4f9dec;cursor: pointer;"
              @click="updates2(scope.row)">{{scope.row.inviterCode ? scope.row.inviterCode : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="zhifubaoName" label="支付宝名称" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.zhifubaoName ? scope.row.zhifubaoName : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="zhifubao" label="支付宝账号" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.zhifubao ? scope.row.zhifubao : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="160">
        </el-table-column>
        <el-table-column prop="state " label="状态">
          <template slot-scope="scope">
            <el-switch v-model="scope.row.state" @change="change(scope.row.state,scope.row.userId)"
              :active-value="openValue" :inactive-value="closeValue" active-color="#13ce66" inactive-color="#ff4949">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" fixed='right' width="120">
          <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="updates(scope.row)">用户详情
            </el-button>
            <el-button size="mini" type="danger" :disabled="!isAuth('userList:delete')" @click="deleteuser(scope.row)">
              删除用户
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="text-align: center;margin-top: 10px;">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
          :page-sizes="[5, 10, 15, 20]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
          :total="tableData.totalCount">
        </el-pagination>
      </div>
    </el-tab-pane>
    <el-tab-pane label="中级会员" name="fourth">
      <div style="margin:2% 0;display: inline-block;">
        <el-input style="width: 150px;" @keydown.enter.native="select" clearable placeholder="请输入手机号" v-model="phone">
        </el-input>
      </div>
      <div style="display: inline-block;">
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="select">查询</el-button>
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="cleans">重置</el-button>
      </div>
      <el-table v-loading="tableDataLoading" :data="tableData.list">
        <el-table-column fixed prop="nickName" label="昵称" width="150">
          <template slot-scope="scope">
            <span style="color: #f56c6c;">{{scope.row.nickName ? scope.row.nickName : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="图像">
          <template slot-scope="scope">
            <img v-if="scope.row.imageUrl==null" src="~@/assets/img/avatar.png" alt="" width="40" height="40">
            <img v-else :src="scope.row.imageUrl" alt="" width="40" height="40">
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="手机号" width="150">
          <template slot-scope="scope">
            <span style="color: #4f9dec;cursor: pointer;"
              @click="updates(scope.row)">{{scope.row.phone ? scope.row.phone : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="等级">
          <template slot-scope="scope">
            <span v-if="scope.row.member == 1">非会员</span>
            <span v-if="scope.row.member == 2">初级会员</span>
            <span v-if="scope.row.member == 3">中级会员</span>
            <span v-if="scope.row.member == 4">高级会员</span>
          </template>
        </el-table-column>
        <el-table-column prop="invitationCode" label="邀请码">
        </el-table-column>
        <el-table-column label="邀请人邀请码" width="120">
          <template slot-scope="scope">
            <span style="color: #4f9dec;cursor: pointer;"
              @click="updates2(scope.row)">{{scope.row.inviterCode ? scope.row.inviterCode : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="zhifubaoName" label="支付宝名称" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.zhifubaoName ? scope.row.zhifubaoName : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="zhifubao" label="支付宝账号" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.zhifubao ? scope.row.zhifubao : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="160">
        </el-table-column>
        <el-table-column prop="state " label="状态">
          <template slot-scope="scope">
            <el-switch v-model="scope.row.state" @change="change(scope.row.state,scope.row.userId)"
              :active-value="openValue" :inactive-value="closeValue" active-color="#13ce66" inactive-color="#ff4949">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" fixed='right' width="120">
          <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="updates(scope.row)">用户详情
            </el-button>
            <el-button size="mini" type="danger" :disabled="!isAuth('userList:delete')" @click="deleteuser(scope.row)">
              删除用户
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="text-align: center;margin-top: 10px;">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
          :page-sizes="[5, 10, 15, 20]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
          :total="tableData.totalCount">
        </el-pagination>
      </div>
    </el-tab-pane>
    <el-tab-pane label="高级会员" name="fifth">
      <div style="margin:2% 0;display: inline-block;">
        <el-input style="width: 150px;" @keydown.enter.native="select" clearable placeholder="请输入手机号" v-model="phone">
        </el-input>
      </div>
      <div style="display: inline-block;">
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="select">查询</el-button>
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="cleans">重置</el-button>
      </div>
      <el-table v-loading="tableDataLoading" :data="tableData.list">
        <el-table-column fixed prop="nickName" label="昵称" width="150">
          <template slot-scope="scope">
            <span style="color: #f56c6c;">{{scope.row.nickName ? scope.row.nickName : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="图像">
          <template slot-scope="scope">
            <img v-if="scope.row.imageUrl==null" src="~@/assets/img/avatar.png" alt="" width="40" height="40">
            <img v-else :src="scope.row.imageUrl" alt="" width="40" height="40">
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="手机号" width="150">
          <template slot-scope="scope">
            <span style="color: #4f9dec;cursor: pointer;"
              @click="updates(scope.row)">{{scope.row.phone ? scope.row.phone : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="等级">
          <template slot-scope="scope">
            <span v-if="scope.row.member == 1">非会员</span>
            <span v-if="scope.row.member == 2">初级会员</span>
            <span v-if="scope.row.member == 3">中级会员</span>
            <span v-if="scope.row.member == 4">高级会员</span>
          </template>
        </el-table-column>
        <el-table-column prop="invitationCode" label="邀请码">
        </el-table-column>
        <el-table-column label="邀请人邀请码" width="120">
          <template slot-scope="scope">
            <span style="color: #4f9dec;cursor: pointer;"
              @click="updates2(scope.row)">{{scope.row.inviterCode ? scope.row.inviterCode : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="zhifubaoName" label="支付宝名称" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.zhifubaoName ? scope.row.zhifubaoName : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="zhifubao" label="支付宝账号" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.zhifubao ? scope.row.zhifubao : '未绑定'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="160">
        </el-table-column>
        <el-table-column prop="state " label="状态">
          <template slot-scope="scope">
            <el-switch v-model="scope.row.state" @change="change(scope.row.state,scope.row.userId)"
              :active-value="openValue" :inactive-value="closeValue" active-color="#13ce66" inactive-color="#ff4949">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" fixed='right' width="120">
          <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="updates(scope.row)">用户详情
            </el-button>
            <el-button size="mini" type="danger" :disabled="!isAuth('userList:delete')" @click="deleteuser(scope.row)">
              删除用户
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="text-align: center;margin-top: 10px;">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
          :page-sizes="[5, 10, 15, 20]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
          :total="tableData.totalCount">
        </el-pagination>
      </div>
    </el-tab-pane>
    <el-tab-pane label="付费会员" name="sixth">
      <div style="margin:2% 0;display: inline-block;">
        <el-input style="width: 150px;" @keydown.enter.native="select" clearable placeholder="请输入手机号" v-model="phone">
        </el-input>
      </div>
      <div style="display: inline-block;">
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="select2">查询</el-button>
        <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="cleans2">重置</el-button>
      </div>
      <el-table v-loading="tableDataLoading" :data="payData.list">
        <el-table-column prop="nickName" label="昵称" width="150">
          <template slot-scope="scope">
            <span style="color: #f56c6c;">{{scope.row.nickName ? scope.row.nickName : '未设置'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="money" label="金额">
        </el-table-column>
        <el-table-column prop="remark" label="开通">
          <template slot-scope="scope">
            <span v-if="scope.row.remark == 2">初级会员</span>
            <span v-if="scope.row.remark == 3">中级会员</span>
            <span v-if="scope.row.remark == 4">高级会员</span>
          </template>
        </el-table-column>
        <el-table-column prop="member" label="当前会员">
          <template slot-scope="scope">
            <span v-if="scope.row.member == 1">初级</span>
            <span v-if="scope.row.member == 2">中级</span>
            <span v-if="scope.row.member == 3">高级</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="120">
          <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="updates(scope.row)">用户详情
            </el-button>
            <el-button size="mini" type="danger" :disabled="!isAuth('userList:delete')" @click="deleteuser(scope.row)">
              删除用户
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="text-align: center;margin-top: 10px;">
        <el-pagination @size-change="handleSizeChange1" @current-change="handleCurrentChange1"
          :page-sizes="[5, 10, 15, 20]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
          :total="payData.totalCount">
        </el-pagination>
      </div>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
  export default {
    data() {
      return {
        openValue: 1,
        closeValue: 2,
        state: 'false',
        limit: 5,
        page: 1,
        phone: '',
        nickNam: '',
        platform: 'all',
        isRelation: -1,
        isTuan: -1,
        value: '',
        member: -1,
        payData: [],
        nickName: '',
        grade: '',
        name: '',
        activeName: 'first',
        tableDataLoading: true,
        tableData: [],
        platforms: [{
            value: 'all',
            label: '全部'
          }, {
            value: 'wap',
            label: '网站'
          }, {
            value: 'app',
            label: 'APP'
          }, {
            value: 'weixin',
            label: '微信公众号'
          },
          {
            value: 'mp',
            label: '微信小程序'
          }
        ],

      }
    },
    methods: {
      // 状态
      change(val, userId) {
        this.$http({
          url: this.$http.adornUrl(`user/updateUserStateById?userId=${userId}`),
          method: 'post',
          data: this.$http.adornData({})
        }).then(({
          data
        }) => {
          this.$message({
            message: '操作成功',
            type: 'success',
            duration: 1500,
            onClose: () => {
              this.dataSelect()
            }
          })
        })
      },
      // 详情跳转
      updates(row) {
        this.$router.push({
          path: '/userDetail',
          query: {
            userId: row.userId
          }
        })
      },
      // 详情跳转
      updates2(row) {
        this.$router.push({
          path: '/userDetail',
          query: {
            userId: row.superior
          }
        })
      },
      handleSizeChange(val) {
        this.limit = val
        this.dataSelect()
      },
      handleCurrentChange(val) {
        this.page = val
        this.dataSelect()
      },
      handleSizeChange1(val) {
        this.limit = val
        this.paySelect()
      },
      handleCurrentChange1(val) {
        this.page = val
        this.paySelect()
      },
      handleClick(tab, event) {
        if (tab._props.label == '全部用户') {
          this.page = 1
          this.limit = 5
          this.member = -1
          this.dataSelect()
        }
        if (tab._props.label == '非会员') {
          this.page = 1
          this.limit = 5
          this.member = 1
          this.dataSelect()
        }
        if (tab._props.label == '初级会员') {
          this.page = 1
          this.limit = 5
          this.member = 2
          this.dataSelect()
        }
        if (tab._props.label == '中级会员') {
          this.page = 1
          this.limit = 5
          this.member = 3
          this.dataSelect()
        }
        if (tab._props.label == '高级会员') {
          this.page = 1
          this.limit = 5
          this.member = 4
          this.dataSelect()
        }
        if (tab._props.label == '付费会员') {
          this.page = 1
          this.limit = 5
          this.paySelect()
        }
      },
      // select自动选择
      selectTrigger() {
        this.dataSelect()
      },
      // 查询
      select() {
        this.dataSelect()
      },
      select2() {
        this.paySelect()
      },
      // 重置
      cleans() {
        this.phone = ''
        this.dataSelect()
      },
      cleans2() {
        this.phone = ''
        this.paySelect()
      },
      //删除用户
      deleteuser(row) {
        let delid = row.userId
        this.$confirm(`确定删除此条信息?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl(`user/deleteByUserId/?userId=${delid}`),
            method: 'post',
            params: this.$http.adornData({})
          }).then(({
            data
          }) => {
            this.$message({
              message: '删除成功',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.dataSelect()
              }
            })
          })
        })
      },
      // 获取数据列表
      dataSelect() {
        this.tableDataLoading = true
        this.$http({
          url: this.$http.adornUrl('user/selectUserList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page,
            'limit': this.limit,
            'member': this.member,
            'phone': this.phone
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data
          this.tableData = returnData
        })
      },
      // 获取付费会员数据列表
      paySelect() {
        this.tableDataLoading = true
        this.$http({
          url: this.$http.adornUrl('statistical/selectUserMemberList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page,
            'limit': this.limit,
            'phone': this.phone
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data
          this.payData = returnData
        })
      },
    },
    mounted() {
      this.dataSelect()
    }
  }
</script>

<style scoped="scoped">
  .el-button+.el-button {
    margin-left: 0 !important;
    margin-top: 5px !important;
  }
</style>
