<template>
  <div>
    <div style="display: inline-block;font-size:18px;margin-bottom: 15px;">
      <a href="#" @click="prev" style="text-decoration:none;font-size: 14px;">
        <icon-svg name="jiantou" style="width: 1.2em;height: 1.2em;position: relative;top: 0.3em;"></icon-svg>
        返回
      </a>
      <span style="display: inline-block;margin: 0 15px;color: #D9D9D9;">|</span>
      <span>用户详情</span>
    </div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="用户详情" name="first">
        <div class="detailtabel">
          <div class="table_main">
            <table>
              <tbody>
                <tr>
                  <th>本月接单数量</th>
                  <td>{{tablenum.helpSendCount ? `${tablenum.helpSendCount}笔` : '0笔'}}</td>
                  <th>本月充值金额</th>
                  <td>{{tablenum.rechargeAmount ? `${tablenum.rechargeAmount}元` : '0元'}}</td>
                  <th>本月邀请数量</th>
                  <td class="border-rt">{{tablenum.inviteCount ? `${tablenum.inviteCount}人` : '0人'}}</td>
                </tr>
                <tr>
                  <th>本月派单数量</th>
                  <td>{{tablenum.helpTakeCount ? `${tablenum.helpTakeCount}笔` : '0笔'}}</td>
                  <th>本月提现金额</th>
                  <td>{{tablenum.cashOutMoney ? `${tablenum.cashOutMoney}元` : '0元'}}</td>
                  <th>本月邀请赏金</th>
                  <td class="border-rt">{{tablenum.moneyReward ? `${tablenum.moneyReward}元` : '0元'}}</td>
                </tr>
                <tr>
                  <th>可提现金额</th>
                  <td style="color: rgb(245, 108, 108)">
                    {{tablemoney.mayMoney ? `${tablemoney.mayMoney}元` : '0元'}}
                  </td>

                  <th>不可提现金额</th>
                  <td style="color: rgb(245, 108, 108)">
                    {{tablemoney.cannotMoney ? `${tablemoney.cannotMoney}元` : '0元'}}
                    <span style="color: #4f9dec;cursor:pointer;" @click="rechargenone(tableData.userId)">添加金额</span>
                    <span style="color: #4f9dec;cursor:pointer;" @click="rechargenone2(tableData.userId)">减少金额</span>
                  </td>
                  <th>直属用户数量</th>
                  <td class="border-rt">{{tablenum.zhiUserInviteCount ? `${tablenum.zhiUserInviteCount}人` : '0人'}}</td>
                </tr>
                <tr>
                  <th>非直属用户数量</th>
                  <td>{{tablenum.feiUserInviteCount ? `${tablenum.feiUserInviteCount}人` : '0人'}} </td>
                  <th>直属用户赏金</th>
                  <td>{{tablenum.zhiUserInviteMoney ? `${tablenum.zhiUserInviteMoney}元` : '0元'}}</td>
                  <th>非直属用户赏金</th>
                  <td class="border-rt">{{tablenum.feiUserInviteMoney ? `${tablenum.feiUserInviteMoney}元` : '0元'}}</td>
                </tr>
                <tr>
                  <th>创建时间</th>
                  <td>{{tableData.createTime}}</td>
                  <th>手机号</th>
                  <td>{{tableData.phone ? tableData.phone : '未绑定'}}</td>
                  <th>图像</th>
                  <td class="border-rt"><img
                      :src="tableData.imageUrl ? tableData.imageUrl : 'https://rwshopadmin.xianmxkj.com/sqx_fast/logo.png'"
                      width="80" height="80" /></td>
                </tr>
                <tr>
                  <th>微信名称</th>
                  <td>{{tableData.nickName}}</td>
                  <th>地址</th>
                  <td>{{tableData.address ? tableData.address : '未绑定'}}</td>
                  <th>支付宝姓名</th>
                  <td class="border-rt">{{tableData.zhifubaoName ? tableData.zhifubaoName : '未绑定'}}</td>
                </tr>
                <tr>
                  <th>邀请码</th>
                  <td>{{tableData.invitationCode}}</td>
                  <th>支付宝账号</th>
                  <td>{{tableData.zhifubao ? tableData.zhifubao : '未绑定'}}</td>
                  <th>openId</th>
                  <td class="border-rt">{{tableData.openId ? tableData.openId : '未绑定'}}</td>
                </tr>
                <tr>
                  <th>编号</th>
                  <td>
                    {{tableData.userId}}
                  </td>
                  <th>等级</th>
                  <td>
                    {{tableData.member == 1 ? '非会员' : tableData.member == 2 ? '初级会员': tableData.member == 3 ? '中级会员': tableData.member == 4 ? '高级会员' : '未知' }}
                  </td>
                  <th>邀请人邀请码</th>
                  <td class="border-rt">{{tableData.inviterCode}}</td>
                </tr>
                <tr>
                  <th class="border-bt">用户状态</th>
                  <td class="border-bt border-rt">
                    <span v-if="tableData.state == 1 ">正常</span>
                    <span v-if="tableData.state == 2 " style="color: #f56c6c;">禁用</span>
                    <span style="color: #4f9dec;cursor:pointer;" @click="stateChange(tableData.userId)">更改状态</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="直属" name="second">
        <el-table v-loading="tableDataLoading" :data="tableDatamin.records">
          <el-table-column prop="nickName" label="昵称" width="150">
            <template slot-scope="scope">
              <span style="color: #f56c6c;">{{scope.row.nickName ? scope.row.nickName : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column label="图像">
            <template slot-scope="scope">
              <img v-if="scope.row.imageUrl==null" src="~@/assets/img/avatar.png" alt="" width="40" height="40">
              <img v-else :src="scope.row.imageUrl" alt="" width="40" height="40">
            </template>
          </el-table-column>
          <el-table-column prop="phone" label="手机号" width="150">
            <template slot-scope="scope">
              <span style="color: #4f9dec;cursor: pointer;"
                @click="updates(scope.row)">{{scope.row.phone ? scope.row.phone : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column label="等级">
            <template slot-scope="scope">
              <span v-if="scope.row.member == 1">非会员</span>
              <span v-if="scope.row.member == 2">初级会员</span>
              <span v-if="scope.row.member == 3">中级会员</span>
              <span v-if="scope.row.member == 4">高级会员</span>
            </template>
          </el-table-column>
          <el-table-column prop="invitationCode" label="邀请码">
          </el-table-column>
          <el-table-column prop="superior" label="邀请人">
            <template slot-scope="scope">
              <span style="color: #4f9dec;cursor: pointer;">{{scope.row.superior ? scope.row.superior : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="zhifubaoName" label="支付宝名称" width="150">
            <template slot-scope="scope">
              <span>{{scope.row.zhifubaoName ? scope.row.zhifubaoName : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="zhifubao" label="支付宝账号" width="150">
            <template slot-scope="scope">
              <span>{{scope.row.zhifubao ? scope.row.zhifubao : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="createTime" label="创建时间" width="160">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange7" @current-change="handleCurrentChange7"
            :page-sizes="[10, 20, 30, 40]" :page-size="limit" :current-page="page"
            layout="total,sizes, prev, pager, next" :total="tableDatamin.total">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="非直属" name="feizhi">
        <el-table v-loading="tableDataLoading" :data="feiDatamin.records">
          <el-table-column prop="nickName" label="昵称" width="150">
            <template slot-scope="scope">
              <span style="color: #f56c6c;">{{scope.row.nickName ? scope.row.nickName : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column label="图像">
            <template slot-scope="scope">
              <img v-if="scope.row.imageUrl==null" src="~@/assets/img/avatar.png" alt="" width="40" height="40">
              <img v-else :src="scope.row.imageUrl" alt="" width="40" height="40">
            </template>
          </el-table-column>
          <el-table-column prop="phone" label="手机号" width="150">
            <template slot-scope="scope">
              <span style="color: #4f9dec;cursor: pointer;"
                @click="updates(scope.row)">{{scope.row.phone ? scope.row.phone : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column label="等级">
            <template slot-scope="scope">
              <span v-if="scope.row.member == 1">非会员</span>
              <span v-if="scope.row.member == 2">初级会员</span>
              <span v-if="scope.row.member == 3">中级会员</span>
              <span v-if="scope.row.member == 4">高级会员</span>
            </template>
          </el-table-column>
          <el-table-column prop="invitationCode" label="邀请码">
          </el-table-column>
          <el-table-column prop="superior" label="邀请人">
            <template slot-scope="scope">
              <span style="color: #4f9dec;cursor: pointer;">{{scope.row.superior ? scope.row.superior : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="zhifubaoName" label="支付宝名称" width="150">
            <template slot-scope="scope">
              <span>{{scope.row.zhifubaoName ? scope.row.zhifubaoName : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="zhifubao" label="支付宝账号" width="150">
            <template slot-scope="scope">
              <span>{{scope.row.zhifubao ? scope.row.zhifubao : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="createTime" label="创建时间" width="160">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange7" @current-change="handleCurrentChange7"
            :page-sizes="[10, 20, 30, 40]" :page-size="limit" :current-page="page"
            layout="total,sizes, prev, pager, next" :total="feiDatamin.total">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="用户消息" name="third">
        <el-table v-loading="tableDataLoading" :data="userData.list">
          <el-table-column prop="id" label="编号" width="80">
          </el-table-column>
          <el-table-column prop="userName" label="用户名称">
          </el-table-column>
          <el-table-column prop="title" label="消息标题">
          </el-table-column>
          <el-table-column prop="content" label="消息内容" width="280">
          </el-table-column>
          <el-table-column prop="createAt" label="创建时间" width="150">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange1" @current-change="handleCurrentChange1"
            :page-sizes="[5, 10, 15, 20]" :page-size="limit" :current-page="page"
            layout="total,sizes, prev, pager, next" :total="userData.totalCount">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="任务消息" name="fifth">
        <el-table v-loading="tableDataLoading" :data="userData.list">
          <el-table-column prop="id" label="编号" width="80">
          </el-table-column>
          <el-table-column prop="userName" label="用户名称">
          </el-table-column>
          <el-table-column prop="title" label="消息标题">
          </el-table-column>
          <el-table-column prop="content" label="消息内容" width="280">
          </el-table-column>
          <el-table-column prop="createAt" label="创建时间" width="150">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange1" @current-change="handleCurrentChange1"
            :page-sizes="[5, 10, 15, 20]" :page-size="limit" :current-page="page"
            layout="total,sizes, prev, pager, next" :total="userData.totalCount">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="提现记录" name="sixth">
        <el-table v-loading="tableDataLoading" :data="withdrawData.list">
          <el-table-column prop="id" label="编号" width="80">
          </el-table-column>
          <el-table-column prop="zhifubao" label="支付宝账号">
          </el-table-column>
          <el-table-column prop="zhifubaoName" label="支付宝名称">
          </el-table-column>
          <el-table-column prop="money" label="提现金额">
            <template slot-scope="scope">
              <span style="color: #f56c6c;">{{scope.row.money}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="orderNumber" label="付款编号">
          </el-table-column>
          <el-table-column prop="createAt" label="创建时间">
          </el-table-column>
          <el-table-column prop="outAt" label="结束时间">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange2" @current-change="handleCurrentChange2"
            :page-sizes="[10, 20, 30, 40]" :page-size="limit" :current-page="page"
            layout="total,sizes, prev, pager, next" :total="walletData.totalCount">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="钱包明细" name="eighth">
        <el-table v-loading="tableDataLoading" :data="walletData.list">
          <el-table-column prop="id" label="编号" width="50">
          </el-table-column>
          <el-table-column prop="title" label="标题" width="120">
          </el-table-column>
          <el-table-column prop="content" label="内容">
          </el-table-column>
          <el-table-column prop="money" label="金额" width="100">
            <template slot-scope="scope">
              <span style="color: #f56c6c;">{{scope.row.money}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="createTime" label="创建时间" width="180">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange3" @current-change="handleCurrentChange3"
            :page-sizes="[10, 20, 30, 40]" :page-size="limit" :current-page="page"
            layout="total,sizes, prev, pager, next" :total="walletData.totalCount">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="充值明细" name="seventh">
        <div style="display: inline-block;">
          <span>开始时间：</span>
          <el-date-picker style="width: 160px;margin-left: 10px;" v-model="startTime" align="right" type="datetime"
            format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="选择开始时间">
          </el-date-picker>&nbsp;&nbsp;&nbsp;
          <span>截止时间：</span>
          <el-date-picker style="width: 160px;margin-left: 10px;" v-model="endTime" align="right" type="datetime"
            format="yyyy-MM-dd" value-format="yyyy-MM-dd" placeholder="选择截止时间">
          </el-date-picker>
          <el-button style='margin-left:15px;' size="mini" type="primary" icon="document" @click="timeDate2">查询
          </el-button>
        </div>
        <el-table v-loading="tableDataLoading" :data="rechargeData.list">
          <el-table-column prop="id" label="编号" width="50">
          </el-table-column>
          <el-table-column prop="orderId" label="充值订单号" width="200">
          </el-table-column>
          <el-table-column prop="money" label="充值金额">
          </el-table-column>
          <el-table-column prop="userId" label="会员编号">
          </el-table-column>
          <el-table-column label="分类">
            <template slot-scope="scope">
              <span style="color: #4f9dec;cursor: pointer;" v-if="scope.row.classify == 1">微信</span>
              <span style="color: #4f9dec;cursor: pointer;" v-if="scope.row.classify == 2">支付宝</span>
            </template>
          </el-table-column>
          <el-table-column label="状态">
            <template slot-scope="scope">
              <span style="color: #4f9dec;cursor: pointer;" v-if="scope.row.state == 0">待支付</span>
              <span style="color: #4f9dec;cursor: pointer;" v-if="scope.row.state == 1">支付成功</span>
              <span style="color: #4f9dec;cursor: pointer;" v-if="scope.row.state == 2">支付失败</span>
            </template>
          </el-table-column>
          <el-table-column prop="createTime" label="创建时间" width="170">
          </el-table-column>
          <el-table-column prop="payTime" label="支付时间" width="170">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange4" @current-change="handleCurrentChange4"
            :page-sizes="[5, 10, 15]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
            :total="rechargeData.totalCount">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="派单任务" name="ninth">
        <el-table v-loading="tableDataLoading" :data="sendData.list">
          <el-table-column fixed prop="label" label="图片">
            <template slot-scope="scope">
              <img :src="scope.row.label" alt="" width="60" height="60">
            </template>
          </el-table-column>
          <el-table-column prop="nickName" label="用户姓名" width="150">
            <template slot-scope="scope">
              <span style="color: #4f9dec;cursor: pointer;"
                @click="updates(scope.row)">{{scope.row.nickName ? scope.row.nickName : '未绑定'}}</span>
            </template>
          </el-table-column>
          <el-table-column <el-table-column prop="title" label="标题">
          </el-table-column>
          <el-table-column prop="content" label="任务要求">
          </el-table-column>
          <el-table-column prop="verifyContent" label="验证信息" width="160">
          </el-table-column>
          <el-table-column prop="openContent" label="打开方式" width="160">
          </el-table-column>
          <el-table-column prop="taskNum" label="数量" width="160">
          </el-table-column>
          <el-table-column prop="endNum" label="接单数量" width="160">
          </el-table-column>
          <el-table-column prop="createTime" label="发布时间" width="160">
          </el-table-column>
          <el-table-column prop="endTime" label="截止时间" width="160">
          </el-table-column>
          <el-table-column prop="auditTime" label="审核时间（按分）" width="160">
          </el-table-column>
          <el-table-column prop="restrictTime" label="任务限时（按分）" width="160">
          </el-table-column>
          <el-table-column fixed='right' prop="state" label="状态" width="100">
            <template slot-scope="scope">
              <span style="color: #4f9dec;" v-if="scope.row.state === 0 ">待审核</span>
              <span style="color: #4f9dec;" v-if="scope.row.state === 1 ">进行中</span>
              <span style="color: #4f9dec;" v-if="scope.row.state === 2 ">已结束</span>
              <span style="color: #4f9dec;" v-if="scope.row.state === 3 ">已拒绝</span>
              <span style="color: #4f9dec;" v-if="scope.row.state === 4 ">已结算</span>
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange5" @current-change="handleCurrentChange5"
            :page-sizes="[5, 10, 15]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
            :total="sendData.totalCount">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="接单任务" name="tenth">
        <el-table v-loading="tableDataLoading" :data="takeData.list">
          <el-table-column <el-table-column prop="title" label="标题">
          </el-table-column>
          <el-table-column prop="verifyContent" label="提交内容" width="160">
          </el-table-column>
          <el-table-column prop="taskPrice" label="接单价格">
          </el-table-column>
          <el-table-column prop="createTime" label="创建时间" width="160">
          </el-table-column>
          <el-table-column prop="auditTime" label="审核时间(分)" width="160">
          </el-table-column>
          <el-table-column prop="state" label="状态" width="100">
            <template slot-scope="scope">
              <span style="color: #4f9dec;" v-if="scope.row.state === 0 ">接单成功</span>
              <span style="color: #4f9dec;" v-if="scope.row.state === 1 ">提交待审核</span>
              <span style="color: #4f9dec;" v-if="scope.row.state === 2 ">审核成功</span>
              <span style="color: #4f9dec;" v-if="scope.row.state === 3 ">已拒绝</span>
              <span style="color: #4f9dec;" v-if="scope.row.state === 4 ">已维权</span>
              <span style="color: #4f9dec;" v-if="scope.row.state === 5 ">已放弃</span>
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange6" @current-change="handleCurrentChange6"
            :page-sizes="[5, 10, 15]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
            :total="takeData.totalCount">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="消息推送" name="message">
        <div style="float: right;margin-right:2%;">
          <el-button style='margin: 10px 0;' size="mini" type="primary" icon="document" @click="magNotice">消息推送
          </el-button>
        </div>
        <el-table v-loading="tableDataLoading" :data="userData.list">
          <el-table-column fixed prop="id" label="编号" width="80">
          </el-table-column>
          <el-table-column prop="userName" label="用户名称">
          </el-table-column>
          <el-table-column prop="title" label="消息标题">
          </el-table-column>
          <el-table-column prop="content" label="消息内容" width="280">
          </el-table-column>
          <el-table-column prop="createAt" label="创建时间">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange1" @current-change="handleCurrentChange1"
            :page-sizes="[5, 10, 15, 20]" :page-size="limit" :current-page="page"
            layout="total,sizes, prev, pager, next" :total="userData.totalCount">
          </el-pagination>
        </div>
        <!-- 消息推送 -->
        <el-dialog title="消息推送" :visible.sync="dialogFormVisible2" center>
          <div style="margin-bottom: 10px;">
            <span style="width: 200px;display: inline-block;text-align: right;">消息标题：</span>
            <el-input style="width: 50%;" v-model="title" placeholder="请输入消息标题"></el-input>
          </div>
          <div style="margin-bottom: 10px;">
            <span
              style="width: 200px;display: inline-block;text-align: right;position: relative;top: -65px;">消息内容：</span>
            <el-input style="width: 50%;" type="textarea" rows="4" v-model="content" placeholder="请输入消息内容"></el-input>
          </div>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible2 = false">取 消</el-button>
            <el-button type="primary" @click="magNoticeTo()">确 定</el-button>
          </div>
        </el-dialog>
      </el-tab-pane>
      <!-- 我的订单 -->
      <el-tab-pane label="我的订单" name="myorder">
        <el-table v-loading="tableDataLoading" :data="orderData.content">
          <el-table-column prop="id" label="编号" width="80" fixed="left">
          </el-table-column>
          <el-table-column prop="title" label="标题">
          </el-table-column>
          <el-table-column prop="orderNum" label="订单编号" width="200">
          </el-table-column>
          <el-table-column prop="number" label="购买数量">
          </el-table-column>
          <el-table-column prop="price" label="购买金额">
          </el-table-column>
          <el-table-column prop="price" label="佣金" width="100">
            <template slot-scope="scope">
              <div v-if="scope.row.relationList.length!=0">
                {{scope.row.relationList[0].commissionPrice}}
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="price" label="直属佣金" width="200" align="center">
            <template slot-scope="scope">
              <div v-if="scope.row.relationList.length!=0">
                用户【 <span style="color: #4f9dec;cursor: pointer;"
                  @click="updates(scope.row.relationList[1])">{{scope.row.relationList[1].userName}}</span>】：{{scope.row.relationList[1].commissionPrice}}
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="price" label="非直属佣金" width="250" align="center">
            <template slot-scope="scope">
              <div v-if="scope.row.relationList.length!=0">
                用户【<span style="color: #4f9dec;cursor: pointer;"
                  @click="updates(scope.row.relationList[2])">{{scope.row.relationList[2].userName}}</span>】：{{scope.row.relationList[2].commissionPrice}}
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="createAt" label="创建时间" width="160">
          </el-table-column>

          <el-table-column prop="status" label="状态" width="100" fixed="right">
            <template slot-scope="scope">
              <span style="color: #4f9dec;" v-if="scope.row.status === 1 ">待付款</span>
              <span style="color: #4f9dec;" v-if="scope.row.status === 2 ">待发货 </span>
              <span style="color: #999999;" v-if="scope.row.status === 3 ">已发货 </span>
              <span style="color: #999999;" v-if="scope.row.status === 4 ">已收货</span>
              <span style="color: #999999;" v-if="scope.row.status === 5 ">已取消</span>
              <span style="color: #4f9dec;" v-if="scope.row.status === 6 ">退款中</span>
              <span style="color: #999999;" v-if="scope.row.status === 7 ">已退款</span>
              <span style="color: #999999;" v-if="scope.row.status === 8 ">已驳回</span>
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange8" @current-change="handleCurrentChange8"
            :page-sizes="[5, 10, 15]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
            :total="orderData.totalElements">
          </el-pagination>
        </div>
      </el-tab-pane>
      
      <!-- 我的返利 -->
      <el-tab-pane label="我的返利" name="fanli">
        <el-table v-loading="tableDataLoading" :data="fanliData.content">
          <el-table-column prop="id" label="编号" width="80" fixed="left">
          </el-table-column>
          <el-table-column prop="goodsTitle" label="商品名称">
          </el-table-column>
          <el-table-column label="商品图片">
            <template slot-scope="scope">
             <img :src="scope.row.goodsImg" width="80" height="80" />
            </template>
          </el-table-column>
          <el-table-column prop="commissionPrice" label="返利金额">
          </el-table-column>
          <el-table-column prop="payMoney" label="消费金额">
          </el-table-column>
          <el-table-column prop="createAt" label="创建时间" width="180">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange10" @current-change="handleCurrentChange10"
            :page-sizes="[5, 10, 15]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
            :total="fanliData.totalElements">
          </el-pagination>
        </div>
      </el-tab-pane>
      <!-- 团队返利 -->
      <el-tab-pane label="团队返利" name="tuanduifanli">
        <el-table v-loading="tableDataLoading" :data="fanliData.content">
          <el-table-column prop="id" label="编号" width="80" fixed="left">
          </el-table-column>
          <el-table-column prop="goodsTitle" label="商品名称">
          </el-table-column>
          <el-table-column label="商品图片">
            <template slot-scope="scope">
             <img :src="scope.row.goodsImg" width="80" height="80" />
            </template>
          </el-table-column>
          <el-table-column prop="price" label="团队用户" width="200" align="center">
            <template slot-scope="scope">
               <span style="color: #4f9dec;cursor: pointer;"
                  @click="updates1(scope.row)">{{scope.row.lowerUserName}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="detail" label="购买详情">
          </el-table-column>
          <el-table-column prop="commissionPrice" label="返利金额">
          </el-table-column>
          <el-table-column prop="payMoney" label="消费金额">
          </el-table-column>
          <el-table-column prop="createAt" label="创建时间" width="180">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange11" @current-change="handleCurrentChange11"
            :page-sizes="[5, 10, 15]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
            :total="fanliData.totalElements">
          </el-pagination>
        </div>
      </el-tab-pane>
      <!-- 我的积分 -->
      <el-tab-pane label="我的积分" name="jifen">
        <el-table v-loading="tableDataLoading" :data="integralData.list">
          <el-table-column fixed prop="id" label="编号" width="80">
          </el-table-column>
          <el-table-column prop="content" label="积分明细">
          </el-table-column>
          <el-table-column label="积分" width="80">
            <template slot-scope="scope">
              <span style="color: #f56c6c;">{{scope.row.num}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="createTime" label="创建时间" width="180">
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px;">
          <el-pagination @size-change="handleSizeChange9" @current-change="handleCurrentChange9"
            :page-sizes="[5, 10, 15]" :page-size="limit" :current-page="page" layout="total,sizes, prev, pager, next"
            :total="integralData.totalCount">
          </el-pagination>
        </div>
      </el-tab-pane>
      <!-- 可提现添加金额 -->
      <el-dialog title="添加金额" :visible.sync="dialogFormVisible" center>
        <div style="margin-bottom: 10px;">
          <span style="width: 200px;display: inline-block;text-align: right;">金额：</span>
          <el-input style="width:50%;" v-model="money" type="number" placeholder="请输入金额"></el-input>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="StairNoticeTo()">确 定</el-button>
        </div>
      </el-dialog>
      <!-- 不可提现添加金额 -->
      <el-dialog title="添加金额" :visible.sync="dialogFormVisible1" center>
        <div style="margin-bottom: 10px;">
          <span style="width: 200px;display: inline-block;text-align: right;">金额：</span>
          <el-input style="width:50%;" v-model="money" type="number" placeholder="请输入金额"></el-input>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible1 = false">取 消</el-button>
          <el-button type="primary" @click="StairNoticeTo1()">确 定</el-button>
        </div>
      </el-dialog>
      <!-- 不可提现减少金额 -->
      <el-dialog title="减少金额" :visible.sync="dialogFormVisible3" center>
        <div style="margin-bottom: 10px;">
          <span style="width: 200px;display: inline-block;text-align: right;">金额：</span>
          <el-input style="width:50%;" v-model="money" type="number" placeholder="请输入金额"></el-input>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible3 = false">取 消</el-button>
          <el-button type="primary" @click="StairNoticeTo1()">确 定</el-button>
        </div>
      </el-dialog>
    </el-tabs>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        openValue: 1,
        closeValue: 0,
        state: 0,
        limit: 5,
        page: 1,
        userId: '',
        money: '',
        title: '',
        content: '',
        phone: '',
        startTime: '',
        endTime: '',
        invitationCode: '',
        feiDatamin: '',
        info: {
          stockDate: this.getNowTime(), //日期
        },
        info2: {
          stockDate2: this.getNowTime2(), //日期
        },
        tablejifen: '',
        tablemoney: {},
        tablenum: {},
        tableData: {},
        userData: [],
        tableDatamin: [],
        withdrawData: [],
        walletData: [],
        rechargeData: [],
        sendData: [],
        takeData: {},
        orderData: {},
        fanliData: {},
        integralData: {},
        activeName: 'first',
        dialogFormVisible: false,
        dialogFormVisible1: false,
        dialogFormVisible3: false,
        tableDataLoading: true,
        dialogFormVisible2: false,
        relation_id: '',
        relationId: '',
        tkstatus: '',
        invitation: '',
        nowMonthOver: '',
        lastMonthOver: '',
        nowMonthPaid: '',
        lastMonthPaid: '',
        nowMonthOrderNumber: '',
        nowDayOrderNumber: '',
        hasCash: '',
        type: 1
      }
    },
    methods: {
      // 返回上一级
      prev() {
        this.$router.back()
      },
      // 详情跳转
      updates(row) {
        this.$router.push({
          path: '/userDetail1',
          query: {
            userId: row.userId
          }
        })
      },
      // 详情跳转
      updates1(row) {
        this.$router.push({
          path: '/userDetail1',
          query: {
            userId: row.lowerUserId
          }
        })
      },
      //处理默认选中当前日期
      getNowTime() {
        var now = new Date()
        var year = now.getFullYear() //得到年份
        var month = now.getMonth() //得到月份
        var date = now.getDate() //得到日期
        month = month + 1
        month = month.toString().padStart(2, '0')
        date = date.toString().padStart(2, '0')
        var defaultDate = `${year}-${month}-${date}`
        return defaultDate
        this.$set(this.info, 'stockDate', defaultDate)
      },
      //处理默认选中当前日期
      getNowTime2() {
        var now = new Date()
        var year = now.getFullYear() //得到年份
        var month = now.getMonth() - now.getMonth() //得到月份
        var date = now.getDate() - now.getDate() + 1 //得到日期
        month = month + 1
        month = month.toString().padStart(2, '0')
        date = date.toString().padStart(2, '0')
        var defaultDate = `${year}-${month}-${date}`
        return defaultDate
        this.$set(this.info, 'stockDate', defaultDate)
      },
      // tabs切换
      handleClick(tab, event) {
        if (tab._props.label == '用户详情') {
          this.dataSelect()
        }
        if (tab._props.label == '直属') {
          this.limit = 5,
            this.page = 1,
            this.teamSelect()
        }
        if (tab._props.label == '非直属') {
          this.limit = 5,
            this.page = 1,
            this.feiSelect()
        }
        if (tab._props.label == '用户消息') {
          this.limit = 5,
            this.page = 1,
            this.state = 5
          this.userSelect()
        }
        if (tab._props.label == '任务消息') {
          this.state = 6
          this.userSelect()
        }
        if (tab._props.label == '提现记录') {
          this.limit = 5,
            this.page = 1,
            this.withdrawSelect()
        }
        if (tab._props.label == '钱包明细') {
          this.limit = 5,
            this.page = 1,
            this.walletSelect()
        }
        if (tab._props.label == '充值明细') {
          this.limit = 5,
            this.page = 1,
            this.rechargeSelect()
        }
        if (tab._props.label == '派单任务') {
          this.limit = 5,
            this.page = 1,
            this.state = -1
          this.sendSelect()
        }
        if (tab._props.label == '接单任务') {
          this.limit = 5,
            this.page = 1,
            this.state = -1
          this.takeSelect()
        }
        if (tab._props.label == '消息推送') {
          this.limit = 5,
            this.page = 1,
            this.state = 8
          this.userSelect()
        }
        if (tab._props.label == '我的订单') {
          this.limit = 5,
            this.page = 1,
            this.state = 8
          this.orderSelect()
        }
        if (tab._props.label == '我的积分') {
          this.integralSelect()
        }
        if (tab._props.label == '我的返利') {
          this.fanliSelect(2)
        }
        if (tab._props.label == '团队返利') {
          this.fanliSelect(1)
        }
      },
      // 消息推送
      magNotice() {
        this.dialogFormVisible2 = true
      },
      // 消息推送
      magNoticeTo() {
        if (this.title == '') {
          this.$notify({
            title: '提示',
            duration: 1800,
            message: '请输入标题',
            type: 'warning'
          });
          return
        }
        if (this.content == '') {
          this.$notify({
            title: '提示',
            duration: 1800,
            message: '请输入内容',
            type: 'warning'
          });
          return
        }
        this.$http({
          url: this.$http.adornUrl('/cash/sendMsg'),
          method: 'get',
          params: this.$http.adornParams({
            'title': this.title,
            'content': this.content,
            'phone': this.phone,
            'flag': this.flag
          })
        }).then(({
          data
        }) => {

          if (data.code == -100) {
            this.$message({
              message: data.msg,
              type: 'error',
              duration: 1500,
              onClose: () => {
                this.dialogFormVisible2 = false
                this.title = ''
                this.content = ''
                this.userSelect()
              }
            })
          }
          if (data.code == 0) {
            this.$message({
              message: '操作成功',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.dialogFormVisible2 = false
                this.title = ''
                this.content = ''
                this.userSelect()
              }
            })
          }
        })
      },
      handleSizeChange(val) {
        this.limit = val;
        this.teamSelect()
      },
      handleCurrentChange(val) {
        this.page = val;
        this.teamSelect()
      },
      handleSizeChange1(val) {
        this.limit = val
        this.userSelect()
      },
      handleCurrentChange1(val) {
        this.page = val
        this.withdrawSelect()
      },
      handleSizeChange2(val) {
        this.limit = val
        this.withdrawSelect()
      },
      handleCurrentChange2(val) {
        this.page = val
        this.withdrawSelect()
      },
      handleSizeChange3(val) {
        this.limit = val
        this.walletSelect()
      },
      handleCurrentChange3(val) {
        this.page = val
        this.walletSelect()
      },
      handleSizeChange4(val) {
        this.limit = val
        this.rechargeSelect()
      },
      handleCurrentChange4(val) {
        this.page = val
        this.rechargeSelect()
      },
      handleSizeChange5(val) {
        this.limit = val
        this.sendSelect()
      },
      handleCurrentChange5(val) {
        this.page = val
        this.sendSelect()
      },
      handleSizeChange6(val) {
        this.limit = val
        this.takeSelect()
      },
      handleCurrentChange6(val) {
        this.page = val
        this.takeSelect()
      },
      handleSizeChange7(val) {
        this.limit = val
        this.feiSelect()
      },
      handleCurrentChange7(val) {
        this.page = val
        this.feiSelect()
      },
      handleSizeChange8(val) {
        this.limit = val
        this.orderSelect()
      },
      handleCurrentChange8(val) {
        this.page = val
        this.orderSelect()
      },
      handleSizeChange9(val) {
        this.limit = val
        this.integralSelect()
      },
      handleCurrentChange9(val) {
        this.page = val
        this.integralSelect()
      },
      handleSizeChange10(val) {
        this.limit = val
        this.fanliSelect(2)
      },
      handleCurrentChange10(val) {
        this.page = val
        this.fanliSelect(2)
      },
      handleSizeChange11(val) {
        this.limit = val
        this.fanliSelect(1)
      },
      handleCurrentChange11(val) {
        this.page = val
        this.fanliSelect(1)
      },
      timeDate2() {
        this.rechargeSelect()
      },
      // 可提现金额
      withdraw(id, val) {
        if (val == 0) {
          this.$message({
            message: '可提现金额为0元',
            type: 'error',
            duration: 1500,
            onClose: () => {
              this.dataSelect()
            }
          })
        } else {
          this.$confirm(`确定要推送提现消息吗?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.$http({
              url: this.$http.adornUrl(`user/notification/${id}`),
              method: 'post',
              data: this.$http.adornData({})
            }).then(({
              data
            }) => {
              this.$message({
                message: '推送成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.dataSelect()
                }
              })
            })
          }).catch(() => {})
        }

      },
      // 不可提现金额充值
      rechargenone() {
        this.type = 1
        this.dialogFormVisible1 = true
      },
      // 不可提现金额减少
      rechargenone2() {
        this.type = 2
        this.dialogFormVisible3 = true
      },
      StairNoticeTo1() {
        let userId = this.$route.query.userId
        if (this.money == '') {
          this.$notify({
            title: '提示',
            duration: 1800,
            message: '请输入金额',
            type: 'warning'
          });
          return
        }
        this.$http({
          url: this.$http.adornUrl(`user/addCannotMoney/${userId}/${this.money}/${this.type}`),
          method: 'post',
          data: this.$http.adornData({})
        }).then(({
          data
        }) => {
          if (data.code == 0) {
            if (this.type == 1) {
              this.dialogFormVisible1 = false
              this.$message({
                message: '添加金额成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.dataSelect()
                }
              })
            } else {
              this.dialogFormVisible3 = false
              this.$message({
                message: '减少金额成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.dataSelect()
                }
              })
            }
          } else {
            this.$message.error(data.msg)
          }

        })
      },
      // 更改状态
      stateChange(userId) {
        this.$confirm(`确定要更改用户状态吗?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl(`user/updateUserStateById?userId=${userId}`),
            method: 'post',
            data: this.$http.adornData({})
          }).then(({
            data
          }) => {
            this.$message({
              message: '修改成功',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.dataSelect()
              }
            })
          })
        }).catch(() => {})
      },
      // 获取数据列表
      dataSelect() {
        let userId = this.$route.query.userId
        this.$http({
          url: this.$http.adornUrl('user/selectUserDetails'),
          method: 'get',
          params: this.$http.adornParams({
            'userId': userId
          })
        }).then(({
          data
        }) => {
          if (data.code === 0) {
            let returnData = data.data;
            this.tablenum = returnData;
            this.tablemoney = returnData.userMoney;
            this.tableData = returnData.user;
            this.invitationCode = returnData.user.invitationCode
          }
        })
      },
      // 获取团队成员
      teamSelect() {
        this.tableDataLoading = true
        let userId = this.$route.query.userId
        this.$http({
          url: this.$http.adornUrl('user/selectInviteByUserIdLists'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page,
            'limit': this.limit,
            'userId': userId
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data;
          this.tableDatamin = returnData;
        })
      },
      // 非直属
      feiSelect() {
        this.tableDataLoading = true
        this.$http({
          url: this.$http.adornUrl('user/selectInvitationCodeByUserIdLists'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page,
            'limit': this.limit,
            'invitationCode': this.invitationCode
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data;
          this.feiDatamin = returnData;
        })
      },
      // 获取用户/任务消息
      userSelect() {
        this.tableDataLoading = true
        let userId = this.$route.query.userId
        this.$http({
          url: this.$http.adornUrl('message/selectMessageByUserId'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page,
            'limit': this.limit,
            'userId': userId,
            'state': this.state
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data;
          this.userData = returnData;
        })
      },
      // 获取用户提现记录
      withdrawSelect() {
        this.tableDataLoading = true
        let userId = this.$route.query.userId
        this.$http({
          url: this.$http.adornUrl('/user/selectPayDetails'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page,
            'limit': this.limit,
            'userId': userId,
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data;
          this.withdrawData = returnData;
        })
      },
      // 获取钱包明细
      walletSelect() {
        this.tableDataLoading = true
        let userId = this.$route.query.userId
        this.$http({
          url: this.$http.adornUrl('userMoney/selectUserMoneyDetails'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page,
            'limit': this.limit,
            'userId': userId
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data;
          this.walletData = returnData;
        })
      },
      // 获取充值明细
      rechargeSelect() {
        if (this.endTime == '') {
          this.endTime = this.info.stockDate
        }
        if (this.startTime == '') {
          this.startTime = this.info2.stockDate2
        }
        let userId = this.$route.query.userId
        this.tableDataLoading = true
        this.$http({
          url: this.$http.adornUrl('cash/selectUserRechargeByUserId'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page,
            'limit': this.limit,
            'endTime': this.endTime,
            'startTime': this.startTime,
            'userId': userId
          })
        }).then(({
          data
        }) => {
          if (data.code == 0) {
            this.tableDataLoading = false
            let returnData = data.data;
            this.rechargeData = returnData;
          }
          if (data.code == 500) {
            this.$message({
              message: data.msg,
              type: 'error',
              duration: 2500,
              onClose: () => {
                this.tableDataLoading = false
              }
            })
          }
        })
      },
      // 获取派单
      sendSelect() {
        this.tableDataLoading = true
        let userId = this.$route.query.userId
        this.$http({
          url: this.$http.adornUrl('helpTask/selectMyHelpTask'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page,
            'limit': this.limit,
            'state': this.state,
            'userId': userId
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data;
          this.sendData = returnData.pageUtils;
        })
      },
      // 获取接单
      takeSelect() {
        this.tableDataLoading = true
        let userId = this.$route.query.userId
        this.$http({
          url: this.$http.adornUrl('helpTask/selectParticipationHelpTask'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page,
            'limit': this.limit,
            'state': this.state,
            'userId': userId
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data;
          this.takeData = returnData;
        })
      },
      // 我的订单
      orderSelect() {
        this.tableDataLoading = true
        let userId = this.$route.query.userId
        this.$http({
          url: this.$http.adornUrl('orders/findMyList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page - 1,
            'size': this.limit,
            'status': 0,
            'userId': userId
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data;
          this.orderData = returnData;
        })
      },
      // 获取我的积分
      integralSelect() {
        this.tableDataLoading = true
        let userId = this.$route.query.userId
        this.$http({
          url: this.$http.adornUrl(`integral/details`),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page - 1,
            'limit': this.limit,
            'userId': userId
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data;
          this.integralData = returnData;
        })
      },
      // 我的返利
      fanliSelect(index) {
        this.tableDataLoading = true
        let userId = this.$route.query.userId
        this.$http({
          url: this.$http.adornUrl('ordersRelation/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.page - 1,
            'size': this.limit,
            'status': 0,
            'userId': userId,
            'moneyFrom': index
          })
        }).then(({
          data
        }) => {
          this.tableDataLoading = false
          let returnData = data.data;
          this.fanliData = returnData;
        })
      }
    },
    mounted() {
      this.dataSelect()
    },
  }
</script>

<style scoped="scoped">
  .detailtabel h2 {
    margin-top: 0;
  }

  .detailtabel .table_main table {
    width: 100%;
  }

  .detailtabel .table_main {
    border: 1px solid #e8e8e8;
  }

  .detailtabel table tr {
    border-bottom: 1px solid #e8e8e8;
  }

  .detailtabel table tr th {
    background-color: #fafafa;
    padding: 16px 24px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  .detailtabel table tr td {
    padding: 16px 24px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  .detailtabel table th {
    color: rgba(0, 0, 0, .85);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
  }

  .border-rt {
    border-right: none !important;
  }

  .border-bt {
    border-bottom: none !important;
  }
</style>
